<div class="container__add">

    <button mat-raised-button (click)="addBodyguard()" >
      <mat-icon class="main__icon_logout" aria-hidden="false" aria-label="Add icon" fontIcon="add"></mat-icon>Agregar
    </button>
  </div>
  <div class="container__table">

    <h1> Gestion de Guardaespaldas</h1>

    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
      <ng-container matColumnDef="name_user">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.user.name + " "+ element.user.lastname }} </td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> email </th>
        <td mat-cell *matCellDef="let element"> {{element.user.email}} </td>
      </ng-container>
      <ng-container matColumnDef="name_specialization">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> especializacion </th>
        <td mat-cell *matCellDef="let element"> {{element.specialization.name}} </td>
      </ng-container>
     

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons
    aria-label="Select page of periodic elements">
</mat-paginator>

  </div>
