<form [formGroup]="form" (submit)="enviar()">
  <h2 mat-dialog-title>{{inputData.title}}</h2>
  <div mat-dialog-content>
    <div class="contenedor">
      <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input matInput required placeholder="name" formControlName="name">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Description</mat-label>
        <input matInput required placeholder="description" formControlName="description">
      </mat-form-field>

    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button type="submit" color="primary">Aceptar</button>
    <button mat-button (click)="closeDialog()">Cancel</button>
 
  </div>
</form>
