<div class="form">
  <form  [formGroup]="form" (submit)="enviar()" class="form__container">
    <h2 class="form__title" mat-dialog-title>{{inputData.title}}</h2>
    <div class="form__content" mat-dialog-content>
      <!-- <div class="contenedor"> -->
        <mat-form-field class="form__input">
          <mat-label>Name</mat-label>
          <input matInput required placeholder="name" formControlName="name">
        </mat-form-field>

        <mat-form-field class="form__input">
          <mat-label>Description</mat-label>
          <textarea matInput placeholder="description" formControlName="description"></textarea>
        </mat-form-field>

      <!-- </div> -->
    </div>
    <div mat-dialog-actions class="form__actions">
      <button mat-button (click)="closeDialog()" class="form__button__cancel">Cancel</button>
      <button mat-button type="submit"  class="form__button_submit">Aceptar</button>
    </div>
  </form>
</div>
