<div class="contenedor">
    <form [formGroup]="form" (submit)="aceptar()">
      <mat-form-field class="example-full-width">
        <mat-label>iD</mat-label>
        <input matInput required placeholder="id" formControlName="id">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input matInput required placeholder="name" formControlName="name">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Description</mat-label>

        <input matInput required placeholder="description" formControlName="description">

      </mat-form-field>

      <button mat-raised-button type="submit" routerLink="/bodyguard/pages/specialization" color="primary">Aceptar</button>
      <button mat-raised-button color="warn" routerLink="/bodyguard/pages/specialization">Cancelar</button>
      <p>{{mensaje}}</p>

    </form>
  </div>

