<mat-toolbar class="menu">

  <div class="menu__logo">

    <img src="/assets/logo_bodyguard_black.svg" alt="acount of user">

    <button mat-button (click)="drawer.toggle()">
      <mat-icon class="menu__icon" aria-hidden="false" aria-label="menu icon" fontIcon="menu"></mat-icon>
    </button>
  </div>

  <div class="menu__user">
    <div class="menu__search">
      <mat-icon aria-hidden="false" aria-label="menu icon" fontIcon="search"></mat-icon>
      <input type="text" placeholder="Search">
    </div>

    <mat-icon class="menu__notification" aria-hidden="false" aria-label="notifications icon"
      fontIcon="notifications"></mat-icon>

    <img src="/assets/logo.svg" routerLink="" alt="acount of user">


  </div>
</mat-toolbar>

<mat-drawer-container class="main">
  <mat-drawer #drawer class="main__sidenav" mode="side">
    <div class="main__acount">
      <img src="/assets/administrador.png" alt="acount of administrator">
      <!-- <span *ngIf="role == 'ADMIN'">Administrador</span>
      <span *ngIf="role == 'USER'">CHICHO</span>
      <span *ngIf="role == 'BODY'">BODIGUARD</span> -->
    </div>

    <div class="main__buttons" >
       

      <button mat-button class="main__button" routerLink="pages/home">
        <mat-icon class="" aria-hidden="false" aria-label="menu icon" fontIcon="home"></mat-icon>ADMIN Home
      </button>
      <button mat-button class="main__button" routerLink="pages/service">
        <mat-icon class="" aria-hidden="false" aria-label="Services icon" fontIcon="design_services"></mat-icon>
        Servicios
      </button>
      <button mat-button class="main__button" routerLink="pages/bodyguard">
        <mat-icon class="" aria-hidden="false" aria-label="Bodyguards icon" fontIcon="person"></mat-icon>ADMIN Bodyguards
      </button>
      <button mat-button class="main__button" routerLink="pages/specialization">
        <mat-icon class="" aria-hidden="false" aria-label="Speciality icon" fontIcon="person"></mat-icon>ADMIN Especialidades
      </button>
      <button mat-button class="main__button" routerLink="pages/client/lista">
        <mat-icon class="" aria-hidden="false" aria-label="Clients icon" fontIcon="groups"></mat-icon>ADMIN Clientes
      </button>
      <button mat-button class="main__button" routerLink="pages/perfil">
        <mat-icon class="" aria-hidden="false" aria-label="Accounts icon" fontIcon="manage_accounts"></mat-icon>ADMIN Perfil
      </button>


      <button mat-button class="main__button" routerLink="">
        <mat-icon class="" aria-hidden="false" aria-label="menu icon" fontIcon="home"></mat-icon>USER Home
      </button>
      <button mat-button class="main__button" routerLink="">
        <mat-icon class="" aria-hidden="false" aria-label="Services icon" fontIcon="date_range"></mat-icon>USER History
      </button>
      <button mat-button class="main__button" routerLink="bodyguard">
        <mat-icon class="" aria-hidden="false" aria-label="Bodyguards icon" fontIcon="person"></mat-icon>USER Bodyguards
      </button>
      <button mat-button class="main__button" routerLink="">
        <mat-icon class="" aria-hidden="false" aria-label="Speciality icon" fontIcon="assessment"></mat-icon>USER Services
      </button>

      <button mat-button class="main__button" routerLink="perfil">
        <mat-icon class="" aria-hidden="false" aria-label="Accounts icon" fontIcon="manage_accounts"></mat-icon>USER Perfil
      </button>

      <button mat-button class="main__button" routerLink="">
        <mat-icon class="" aria-hidden="false" aria-label="menu icon" fontIcon="home"></mat-icon>BODY Home
      </button>
      <button mat-button class="main__button" routerLink="">
        <mat-icon class="" aria-hidden="false" aria-label="Services icon" fontIcon="library_add"></mat-icon>BODY Peticiones
      </button>

      <button mat-button class="main__button" routerLink="">
        <mat-icon class="" aria-hidden="false" aria-label="Speciality icon" fontIcon="fast_forward"></mat-icon>BODY Services
      </button>

      <button mat-button class="main__button" routerLink="perfil">
        <mat-icon class="" aria-hidden="false" aria-label="Accounts icon" fontIcon="manage_accounts"></mat-icon>BODY Perfil
      </button>
    </div>

    <div class="main__logout">

      <button mat-button class="" routerLink="">

        <mat-icon class="main__icon_logout" aria-hidden="false" aria-label="menu icon" fontIcon="logout"></mat-icon>
        Logout
      </button>
    </div>

  </mat-drawer>

  <div class="main__content">
    <router-outlet></router-outlet>

  </div>
</mat-drawer-container>
