<div class="shop">
  <div class="shop__search">
    <mat-icon fontIcon="search"></mat-icon><input matInput type="text" placeholder="Busque un guardaespalda">

  </div>
  <div class="bodyguards">

    <mat-card class="bodyguards__card" *ngFor="let body of arrBodyguards">
      <div class="bodyguard__img">
        <img mat-card-image src="/assets/profile__bodyguard.svg" alt="Photo of a bodyguard">
      </div>
      <mat-card-content class="bodyguard__content">
        <div *ngIf="body.star==0; else graded">
          <img src="/assets/stars_removebg.svg" alt="sin calificacion">
        </div>
        <ng-template #graded>
          <div class="stars">
            <mat-icon fontIcon="grade" *ngFor="let item of [].constructor(body.star)" > {{body.star}} </mat-icon>
          </div>
        </ng-template>
        <div class="bodyguard__text">
          <h2>{{body.user.name +" "+ body.user.lastname}}</h2>
          <p>Proteccion especializada en {{body.specialization.name}} por S/ {{body.price_per_hour}} la hora</p>
        </div>
      </mat-card-content>

      <mat-card-actions class="bodyguard__actions">
        <button mat-button (click)="openShopDialog(body.id)" >Contratar ahora</button>
        <button mat-button>Mas información</button>
      </mat-card-actions>
    </mat-card>

  </div>


</div>








<!-- <mat-card class="bodyguards__card">
      <div class="bodyguard__img">
        <img mat-card-image src="/assets/profile__bodyguard.svg" alt="Photo of a Shiba Inu">
      </div>
      <mat-card-content class="bodyguard__content">
        <div class="stars">
          <mat-icon fontIcon="grade"></mat-icon>
          <mat-icon fontIcon="grade"></mat-icon>
          <mat-icon fontIcon="grade"></mat-icon>
          <mat-icon fontIcon="grade"></mat-icon>
          <mat-icon fontIcon="grade"></mat-icon>
        </div>
        <div class="bodyguard__text">
          <h2>Juan Erik Boole</h2>
          <p>Proteccion de hogar S/ 30.00 por hora</p>
        </div>

      </mat-card-content>
      <mat-card-actions class="bodyguard__actions">
        <button mat-button>Contratar ahora</button>
        <button mat-button>Mas información</button>
      </mat-card-actions>
    </mat-card> -->
