<div class="shop">
  <div class="shop__search">
    <mat-icon fontIcon="search"></mat-icon><input matInput type="text" placeholder="Busque un guardaespalda">

  </div>
  <div class="bodyguards">
    <mat-card class="bodyguards__card">
      <div class="bodyguard__img">
        <img mat-card-image src="/assets/profile__bodyguard.svg" alt="Photo of a Shiba Inu">
      </div>
      <mat-card-content class="bodyguard__content">
        <div class="stars">
          <mat-icon fontIcon="grade"></mat-icon>
          <mat-icon fontIcon="grade"></mat-icon>
          <mat-icon fontIcon="grade"></mat-icon>
          <mat-icon fontIcon="grade"></mat-icon>
          <mat-icon fontIcon="grade"></mat-icon>
        </div>
        <div class="bodyguard__text">
          <h2>Juan Erik Boole</h2>
          <p>Proteccion de hogar S/ 30.00 por hora</p>
        </div>

      </mat-card-content>
      <mat-card-actions class="bodyguard__actions">
        <button mat-button>Contratar ahora</button>
        <button mat-button>Mas información</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="bodyguards__card">
      <div class="bodyguard__img">
        <img mat-card-image src="/assets/profile__bodyguard.svg" alt="Photo of a Shiba Inu">
      </div>
      <mat-card-content class="bodyguard__content">
        <div class="stars">
          <mat-icon fontIcon="grade"></mat-icon>
          <mat-icon fontIcon="grade"></mat-icon>
          <mat-icon fontIcon="grade"></mat-icon>
          <mat-icon fontIcon="grade"></mat-icon>
          <mat-icon fontIcon="grade"></mat-icon>
        </div>
        <div class="bodyguard__text">
          <h2>Juan Erik Boole</h2>
          <p>Proteccion de hogar S/ 30.00 por hora</p>
        </div>

      </mat-card-content>
      <mat-card-actions class="bodyguard__actions">
        <button mat-button>Contratar ahora</button>
        <button mat-button>Mas información</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="bodyguards__card">
      <div class="bodyguard__img">
        <img mat-card-image src="/assets/profile__bodyguard.svg" alt="Photo of a Shiba Inu">
      </div>
      <mat-card-content class="bodyguard__content">
        <div class="stars">
          <mat-icon fontIcon="grade"></mat-icon>
          <mat-icon fontIcon="grade"></mat-icon>
          <mat-icon fontIcon="grade"></mat-icon>
          <mat-icon fontIcon="grade"></mat-icon>
          <mat-icon fontIcon="grade"></mat-icon>
        </div>
        <div class="bodyguard__text">
          <h2>Juan Erik Boole</h2>
          <p>Proteccion de hogar S/ 30.00 por hora</p>
        </div>

      </mat-card-content>
      <mat-card-actions class="bodyguard__actions">
        <button mat-button>Contratar ahora</button>
        <button mat-button>Mas información</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="bodyguards__card">
      <div class="bodyguard__img">
        <img mat-card-image src="/assets/profile__bodyguard.svg" alt="Photo of a Shiba Inu">
      </div>
      <mat-card-content class="bodyguard__content">
        <div class="stars">
          <mat-icon fontIcon="grade"></mat-icon>
          <mat-icon fontIcon="grade"></mat-icon>
          <mat-icon fontIcon="grade"></mat-icon>
          <mat-icon fontIcon="grade"></mat-icon>
          <mat-icon fontIcon="grade"></mat-icon>
        </div>
        <div class="bodyguard__text">
          <h2>Juan Erik Boole</h2>
          <p>Proteccion de hogar S/ 30.00 por hora</p>
        </div>

      </mat-card-content>
      <mat-card-actions class="bodyguard__actions">
        <button mat-button>Contratar ahora</button>
        <button mat-button>Mas información</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="bodyguards__card">
      <div class="bodyguard__img">
        <img mat-card-image src="/assets/profile__bodyguard.svg" alt="Photo of a Shiba Inu">
      </div>
      <mat-card-content class="bodyguard__content">
        <div class="stars">
          <mat-icon fontIcon="grade"></mat-icon>
          <mat-icon fontIcon="grade"></mat-icon>
          <mat-icon fontIcon="grade"></mat-icon>
          <mat-icon fontIcon="grade"></mat-icon>
          <mat-icon fontIcon="grade"></mat-icon>
        </div>
        <div class="bodyguard__text">
          <h2>Juan Erik Boole</h2>
          <p>Proteccion de hogar S/ 30.00 por hora</p>
        </div>

      </mat-card-content>
      <mat-card-actions class="bodyguard__actions">
        <button mat-button>Contratar ahora</button>
        <button mat-button>Mas información</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="bodyguards__card">
      <div class="bodyguard__img">
        <img mat-card-image src="/assets/profile__bodyguard.svg" alt="Photo of a Shiba Inu">
      </div>
      <mat-card-content class="bodyguard__content">
        <div class="stars">
          <mat-icon fontIcon="grade"></mat-icon>
          <mat-icon fontIcon="grade"></mat-icon>
          <mat-icon fontIcon="grade"></mat-icon>
          <mat-icon fontIcon="grade"></mat-icon>
          <mat-icon fontIcon="grade"></mat-icon>
        </div>
        <div class="bodyguard__text">
          <h2>Juan Erik Boole</h2>
          <p>Proteccion de hogar S/ 30.00 por hora</p>
        </div>

      </mat-card-content>
      <mat-card-actions class="bodyguard__actions">
        <button mat-button>Contratar ahora</button>
        <button mat-button>Mas información</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="bodyguards__card">
      <div class="bodyguard__img">
        <img mat-card-image src="/assets/profile__bodyguard.svg" alt="Photo of a Shiba Inu">
      </div>
      <mat-card-content class="bodyguard__content">
        <div class="stars">
          <mat-icon fontIcon="grade"></mat-icon>
          <mat-icon fontIcon="grade"></mat-icon>
          <mat-icon fontIcon="grade"></mat-icon>
          <mat-icon fontIcon="grade"></mat-icon>
          <mat-icon fontIcon="grade"></mat-icon>
        </div>
        <div class="bodyguard__text">
          <h2>Juan Erik Boole</h2>
          <p>Proteccion de hogar S/ 30.00 por hora</p>
        </div>

      </mat-card-content>
      <mat-card-actions class="bodyguard__actions">
        <button mat-button>Contratar ahora</button>
        <button mat-button>Mas información</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="bodyguards__card">
      <div class="bodyguard__img">
        <img mat-card-image src="/assets/profile__bodyguard.svg" alt="Photo of a Shiba Inu">
      </div>
      <mat-card-content class="bodyguard__content">
        <div class="stars">
          <mat-icon fontIcon="grade"></mat-icon>
          <mat-icon fontIcon="grade"></mat-icon>
          <mat-icon fontIcon="grade"></mat-icon>
          <mat-icon fontIcon="grade"></mat-icon>
          <mat-icon fontIcon="grade"></mat-icon>
        </div>
        <div class="bodyguard__text">
          <h2>Juan Erik Boole</h2>
          <p>Proteccion de hogar S/ 30.00 por hora</p>
        </div>

      </mat-card-content>
      <mat-card-actions class="bodyguard__actions">
        <button mat-button>Contratar ahora</button>
        <button mat-button>Mas información</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="bodyguards__card">
      <div class="bodyguard__img">
        <img mat-card-image src="/assets/profile__bodyguard.svg" alt="Photo of a Shiba Inu">
      </div>
      <mat-card-content class="bodyguard__content">
        <div class="stars">
          <mat-icon fontIcon="grade"></mat-icon>
          <mat-icon fontIcon="grade"></mat-icon>
          <mat-icon fontIcon="grade"></mat-icon>
          <mat-icon fontIcon="grade"></mat-icon>
          <mat-icon fontIcon="grade"></mat-icon>
        </div>
        <div class="bodyguard__text">
          <h2>Juan Erik Boole</h2>
          <p>Proteccion de hogar S/ 30.00 por hora</p>
        </div>

      </mat-card-content>
      <mat-card-actions class="bodyguard__actions">
        <button mat-button>Contratar ahora</button>
        <button mat-button>Mas información</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="bodyguards__card">
      <div class="bodyguard__img">
        <img mat-card-image src="/assets/profile__bodyguard.svg" alt="Photo of a Shiba Inu">
      </div>
      <mat-card-content class="bodyguard__content">
        <div class="stars">
          <mat-icon fontIcon="grade"></mat-icon>
          <mat-icon fontIcon="grade"></mat-icon>
          <mat-icon fontIcon="grade"></mat-icon>
          <mat-icon fontIcon="grade"></mat-icon>
          <mat-icon fontIcon="grade"></mat-icon>
        </div>
        <div class="bodyguard__text">
          <h2>Juan Erik Boole</h2>
          <p>Proteccion de hogar S/ 30.00 por hora</p>
        </div>

      </mat-card-content>
      <mat-card-actions class="bodyguard__actions">
        <button mat-button>Contratar ahora</button>
        <button mat-button>Mas información</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="bodyguards__card">
      <div class="bodyguard__img">
        <img mat-card-image src="/assets/profile__bodyguard.svg" alt="Photo of a Shiba Inu">
      </div>
      <mat-card-content class="bodyguard__content">
        <div class="stars">
          <mat-icon fontIcon="grade"></mat-icon>
          <mat-icon fontIcon="grade"></mat-icon>
          <mat-icon fontIcon="grade"></mat-icon>
          <mat-icon fontIcon="grade"></mat-icon>
          <mat-icon fontIcon="grade"></mat-icon>
        </div>
        <div class="bodyguard__text">
          <h2>Juan Erik Boole</h2>
          <p>Proteccion de hogar S/ 30.00 por hora</p>
        </div>

      </mat-card-content>
      <mat-card-actions class="bodyguard__actions">
        <button mat-button>Contratar ahora</button>
        <button mat-button>Mas información</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="bodyguards__card">
      <div class="bodyguard__img">
        <img mat-card-image src="/assets/profile__bodyguard.svg" alt="Photo of a Shiba Inu">
      </div>
      <mat-card-content class="bodyguard__content">
        <div class="stars">
          <mat-icon fontIcon="grade"></mat-icon>
          <mat-icon fontIcon="grade"></mat-icon>
          <mat-icon fontIcon="grade"></mat-icon>
          <mat-icon fontIcon="grade"></mat-icon>
          <mat-icon fontIcon="grade"></mat-icon>
        </div>
        <div class="bodyguard__text">
          <h2>Juan Erik Boole</h2>
          <p>Proteccion de hogar S/ 30.00 por hora</p>
        </div>

      </mat-card-content>
      <mat-card-actions class="bodyguard__actions">
        <button mat-button>Contratar ahora</button>
        <button mat-button>Mas información</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="bodyguards__card">
      <div class="bodyguard__img">
        <img mat-card-image src="/assets/profile__bodyguard.svg" alt="Photo of a Shiba Inu">
      </div>
      <mat-card-content class="bodyguard__content">
        <div class="stars">
          <mat-icon fontIcon="grade"></mat-icon>
          <mat-icon fontIcon="grade"></mat-icon>
          <mat-icon fontIcon="grade"></mat-icon>
          <mat-icon fontIcon="grade"></mat-icon>
          <mat-icon fontIcon="grade"></mat-icon>
        </div>
        <div class="bodyguard__text">
          <h2>Juan Erik Boole</h2>
          <p>Proteccion de hogar S/ 30.00 por hora</p>
        </div>

      </mat-card-content>
      <mat-card-actions class="bodyguard__actions">
        <button mat-button>Contratar ahora</button>
        <button mat-button>Mas información</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="bodyguards__card">
      <div class="bodyguard__img">
        <img mat-card-image src="/assets/profile__bodyguard.svg" alt="Photo of a Shiba Inu">
      </div>
      <mat-card-content class="bodyguard__content">
        <div class="stars">
          <mat-icon fontIcon="grade"></mat-icon>
          <mat-icon fontIcon="grade"></mat-icon>
          <mat-icon fontIcon="grade"></mat-icon>
          <mat-icon fontIcon="grade"></mat-icon>
          <mat-icon fontIcon="grade"></mat-icon>
        </div>
        <div class="bodyguard__text">
          <h2>Juan Erik Boole</h2>
          <p>Proteccion de hogar S/ 30.00 por hora</p>
        </div>

      </mat-card-content>
      <mat-card-actions class="bodyguard__actions">
        <button mat-button>Contratar ahora</button>
        <button mat-button>Mas información</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="bodyguards__card">
      <div class="bodyguard__img">
        <img mat-card-image src="/assets/profile__bodyguard.svg" alt="Photo of a Shiba Inu">
      </div>
      <mat-card-content class="bodyguard__content">
        <div class="stars">
          <mat-icon fontIcon="grade"></mat-icon>
          <mat-icon fontIcon="grade"></mat-icon>
          <mat-icon fontIcon="grade"></mat-icon>
          <mat-icon fontIcon="grade"></mat-icon>
          <mat-icon fontIcon="grade"></mat-icon>
        </div>
        <div class="bodyguard__text">
          <h2>Juan Erik Boole</h2>
          <p>Proteccion de hogar S/ 30.00 por hora</p>
        </div>

      </mat-card-content>
      <mat-card-actions class="bodyguard__actions">
        <button mat-button>Contratar ahora</button>
        <button mat-button>Mas información</button>
      </mat-card-actions>
    </mat-card>
  </div>


</div>
