/* body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100%;
    flex-direction: row;

}

.half {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    background-color: #E5F0FB;
}
.divider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    background-color: white;
}
.right {
    background-color: #E5F0FB;
    flex-direction: column;
    align-items: center;

}

.form-group{
    align-items: center;
    width: 100%;
}
.mat-form-field .mat-input-element {
    width: 100%;
}
form h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;

}


form, input, label, button {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;

}

button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

button[type="submit"] {
    background-color: #F9B501;
    color: #fff;
}
.full-size {
    width: 80%;
    height: 80%;
    object-fit: cover;
    border-radius: 2%;
}

 */


 .content {
    background-color: #e5f0fb;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .container {
    margin: 0 auto;
    border: 5px solid #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
  }
  .container__img {
    display: none;

  }
  .container__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px;

  }
  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logo img{
        margin-bottom:20px;
  }
  .formulario {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 100%;
  }
  .formulario .largos mat-form-field{ 
      width: 100%;
      margin-bottom: 1%;
  }
  .formulario .cortos mat-form-field{ 
    width: 50%;
}

  .formulario .link {
    font-weight: 900;
    color: #f9b501;
    text-align: right;
  }
  .formulario p{
    text-align: right;
  }

  .btn {
    display: block;
    width: 100%;
    background-color: #f9b501;
    padding: 8px;
    border-radius: 10px;
    border: none;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    transition: box-shadow ease-out 0.1s;
    font-size: 16px;

  }
  .btn:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }


  .link {
    color: #f9b501; /* Cambia el color según tus preferencias */
    text-decoration: underline;
    cursor: pointer;
  }
@media (min-width: 576px)
{
  .container__form {
    padding: 40px;
    width: 400px;
  }
   .formulario {
    gap: 12px;
    width: 100%;
  }
  .btn {
    padding: 10px;
  }
}

@media (min-width: 893px) {
  .content {
    flex-direction: row;
  }
  .container {
    margin: 0 auto;
    height: 650px;
    max-width: 1066px;
    border: 13px solid #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: row;

  }
  .container__img {
    display: block;
    max-height: 100%;
  }
  .container__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 60px;
    width: 400px;
  }
  .formulario {
    gap: 15px;
    width: 100%;
  }
  .btn {
    padding: 12px;
    border-radius: 10px;
  }

}
