<div class="home">
  <div class="home__welcome">
    <div class="home__content">
      <h2>Mis logros como cliente</h2>
      <p>a dia de hoy</p>
    </div>
    <img src="/assets/client__home.svg" alt="client profile">
  </div>
  <div class="home__stastics">
    <div class="home__earnings">
      <h3>Total de gastos</h3>
      <p>{{"S/ "+gastoTotal}}</p>
    </div>
    <div class="home__clients">
      <h3>Total de servicios contratados</h3>
      <p>{{ totalServicios }}</p>
    </div>
  </div>
</div>

