<div class="home">
  <div class="home__welcome">
    <div class="home__content">
      <h2>Logros del negocio</h2>
      <p>a dia de hoy</p>
    </div>
    <img src="/assets/client__home.svg" alt="client profile">
  </div>
  <div class="home__stastics">
    <div class="home__clients">
      <h3>Clientes atendidos</h3>
      <p>800</p>
    </div>
    <div class="home__earnings">
      <h3>Ingreso egenrado</h3>
      <p>1200$</p>
    </div>
    <div class="home__clients">
      <h3>Horas de trabajo</h3>
      <p>100</p>
    </div>
  </div>
</div>

