<div class="home">
  <div class="home__welcome">
    <div class="home__content">
      <h2>Tus logros hasta el momento</h2>
      <p>sigue adelante </p>
    </div>
    <img src="/assets/client__home.svg" alt="client profile">
  </div>
  <div class="home__stastics">
    <div class="home__clients">
      <h3>Clientes atendidos</h3>
      <p>{{numClientes}}</p>
    </div>
    <div class="home__earnings">
      <h3>Ingreso generado</h3>
      <p>{{"S/ " + ingreso}}</p>
    </div>
    <div class="home__hours">
      <h3>Horas de trabajo</h3>
      <p>{{hora}}</p>
    </div>
  </div>
</div>

