<p>
  <mat-toolbar>

    <span> Bodyguard</span> <button mat-icon-button class="example-icon"
      aria-label="Example icon-button with menu icon">


      <mat-icon [matMenuTriggerFor]="menu">menu</mat-icon>

      <mat-menu #menu="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
    </button>
    <span class="example-spacer"></span>

    <mat-form-field class="example-full-width search-field">
      <input matInput placeholder="Buscar" value="Sushi">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>notifications_active</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>person</mat-icon>
    </button>

  </mat-toolbar>
</p>
<mat-drawer-container class="example-container">
  <mat-drawer class="drawer" mode="side" opened>

    <div class="menu">
      <div class="sidenav">
        <div class="listaLink">
          <!-- Dashboard -->
          <div class="item" *ngIf="validarRol()">
            <div [routerLink]="'pages/dashboard'" class="botonItem" [class.active]="activeButton === 11"
              (click)="setActiveButton(11)">
              <mat-icon aria-label="Home" class="icono">dashboard</mat-icon>
              <span class="nombre_icono">Dashboard</span>
            </div>
          </div>
          <!-- imagen -->
          <div class="item">
            <div class="botonItem">
              <mat-icon aria-label="Home" class="iconosa">person</mat-icon>
              <span class="nombre_iconoimage">administrador</span>
            </div>
          </div>
          <hr class="divider" /> <!-- Línea divisoria -->
          <!-- home -->
          <div class="item">
            <div routerLink="" class="botonItem" [class.active]="activeButton === 0" (click)="setActiveButton(0)">
              <mat-icon aria-label="Home" class="icono">home</mat-icon>
              <span class="nombre_icono">Home</span>
            </div>
          </div>
          <!-- Services -->

          <div class="item">
            <div routerLink="" class="botonItem" [class.active]="activeButton === 1" (click)="setActiveButton(1)">
              <mat-icon aria-label="Services" class="icono">poll</mat-icon>
              <span class="nombre_icono">Services</span>
            </div>
          </div>
          <!-- Bodyguard -->

          <div class="item">
            <div routerLink="" class="botonItem" [class.active]="activeButton === 2" (click)="setActiveButton(2)">
              <mat-icon aria-label="Clients" class="icono">person</mat-icon>
              <span class="nombre_icono">Bodyguars</span>
            </div>
          </div>
          <!-- Specialties -->

          <div class="item">
            <div routerLink="" class="botonItem" [class.active]="activeButton === 3" (click)="setActiveButton(3)">
              <mat-icon aria-label="Specialties" class="icono">person</mat-icon>
              <span class="nombre_icono">Specialties</span>
            </div>
          </div>
          <!-- Clients -->

          <div class="item">
            <div routerLink="" class="botonItem" [class.active]="activeButton === 4" (click)="setActiveButton(4)">
              <mat-icon aria-label="Clients" class="icono">people</mat-icon>
              <span class="nombre_icono">Clients</span>
            </div>
          </div>
          <!-- Perfil -->

          <div class="item">
            <div routerLink="" class="botonItem" [class.active]="activeButton === 5" (click)="setActiveButton(5)">
              <mat-icon aria-label="Perfil" class="icono">person</mat-icon>
              <span class="nombre_icono">Perfil</span>
            </div>
          </div>
          <hr class="divider" /> <!-- Línea divisoria -->
          <!-- log out -->

          <div class="item">
            <div routerLink="" class="botonItem" [class.active]="activeButton === 6" (click)="setActiveButton(6)">
              <mat-icon aria-label="Perfil" class="icono">last_page</mat-icon>
              <span class="nombre_icono">Log out</span>
            </div>
          </div>
        </div>

      </div>

    </div>



  </mat-drawer>
  <mat-drawer-content>


    <div class="contenido">
      <router-outlet></router-outlet>
    </div>


  </mat-drawer-content>
</mat-drawer-container>