<div class="container__add">

  <button mat-raised-button (click)="addSpecialization()">
    <mat-icon class="main__icon_logout" aria-hidden="false" aria-label="Add icon" fontIcon="add"></mat-icon>Agregar
  </button>

  <!-- <button mat-raised-button routerLink="insertar">
    <mat-icon class="main__icon_logout" aria-hidden="false" aria-label="Add icon" fontIcon="add"></mat-icon>Agregar
  </button> -->
</div>
<div class="container__table">
  <h1> Gestion de especialidades</h1>
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element">
        <button (click)="editSpecialization(element.id)" id="buto" mat-icon-button color="primary">
          <span class="material-icons">edit</span>
        </button>
        <button mat-icon-button color="warn" [routerLink]="['/specialization/edicion',element.id]">
          <span class="material-icons">delete</span>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
  <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
  </mat-paginator>
</div>
