<div class="profile">
  <div class="profile__photo">
    <div class="profile__img">
      <img src="/assets/profile__photo.svg" alt="profile image">
    </div>
    <span>Chicho</span>
  </div>

  <div class="profile__info">
    <h2>Informacion personal</h2>
    <form class="personal-data" action="#">
      <mat-form-field id="field" class="personal-data__field">
        <mat-label>Name</mat-label>
        <input type="text" matInput required placeholder="Enter your name" />
      </mat-form-field>
      <mat-form-field class="personal-data__field">
        <mat-label>Last name</mat-label>
        <input type="text" matInput placeholder="Enter your last name" />
      </mat-form-field>
      <mat-form-field class="personal-data__field">
        <mat-label>DNI</mat-label>
        <input matInput required type="number" matInput placeholder="Enter your DNI" />
      </mat-form-field>

      <div class="personal-data__field--row">
        <mat-form-field class="personal-data__field">
          <mat-label>Birthdate</mat-label>
          <input matInput [matDatepicker]="picker" max="maxFecha" placeholder="select your bithdate" required>
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="personal-data__field">
          <mat-label>Gender</mat-label>
          <mat-select [(value)]="value" required>
            <mat-option value="Masculino">Masculino</mat-option>
            <mat-option value="Femenino">Femenino</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <mat-form-field class="personal-data__field">
        <mat-label>Email</mat-label>
        <input type="email" required matInput placeholder="Enter your email">
      </mat-form-field>

      <div class="personal-data__field--row">
        <mat-form-field class="personal-data__field">
          <mat-label>Phone number</mat-label>
          <input type="number" required matInput placeholder="Enter your phone number">
        </mat-form-field>
        <mat-form-field class="personal-data__field">
          <mat-label>Password</mat-label>
          <input type="password" required matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="personal-data__button">
        <button class="personal-data__button--color" mat-button>Update</button>
      </div>


    </form>

  </div>

</div>
